data.py

# config.py # Git 보낼 때는 포함하지 않고, Deploy 때는 포함
# database.py  # Git 보낼 때는 포함하지 않고, Deploy 때는 포함
# db_setup.py  # Git 보낼 때는 포함하지 않고, Deploy 때는 포함

#################

bin/

lib/
Procfile
.cfg

#################

venv/

*.pyc
__pycache__/

instance/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/