<!-- Reference from : Bootstrap https://getbootstrap.com/docs/5.0/examples/navbars/ -->

<nav class="navbar navbar-expand navbar-dark bg-dark" aria-label="Second navbar example">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Flask-MySQL App</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarsExample02">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link {{ navbar_home }}" aria-current="page" href="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{ navbar_about }}" href="/about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{ navbar_articles }}" href="/articles">Articles</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link {{ navbar_add_article }}" href="/add_article">Add-Article</a>
                </li>
                {% if session.logged_in %}
                    <li class="nav-item">
                        <a class="nav-link {{ navbar_dashboard }}" href="/dashboard">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Sing-Out</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link {{ navbar_login }}" href="/login">Sing-In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {{ navbar_register }}" href="/register">Register</a>
                    </li>
                {% endif %}
            </ul>
    </div>
</nav>


