{% extends 'layout.html' %}

{% block body %}

    <div>
        <h1>About Us</h1>
        <p>
            Integer lacinia venenatis eros, quis ultrices ipsum cursus ac. 
            Nam convallis justo orci, at dignissim urna laoreet eget. 
            Cras vel turpis eget nisi lacinia euismod a a quam. 
            Sed sit amet odio quis dolor mollis lacinia. 

            Vestibulum magna felis, iaculis eget volutpat et, 
            tincidunt ac turpis. Aenean porta non leo quis mattis. 
            Donec metus ipsum, imperdiet in justo accumsan, 
            posuere vestibulum lorem. Etiam accumsan mi rhoncus justo feugiat, 
            vitae ultricies nisi malesuada. Mauris ultrices velit mattis ligula molestie porta.

            Sed dignissim, 
            odio quis bibendum sodales, justo mauris finibus eros, 
            a faucibus magna enim vel ligula. 
            Phasellus sit amet nisl magna. Nam elit ipsum, 
            scelerisque eget dui sed, fermentum dignissim elit. 
            Phasellus eu nulla a mi pellentesque blandit et ac est. 
            Interdum et malesuada fames ac ante ipsum primis in faucibus.
            Class aptent taciti sociosqu ad litora torquent per conubia nostra, 
            per inceptos himenaeos.
        </p>
    </div>    
    
{% endblock body %}
