{% extends 'layout.html' %}

{% block body %}

    <div>
        <h1>Dashboard</h1>
        <div class="p-5 mb-4 bg-light rounded-3">
            <div class="container-fluid py-5">
                <div class="display-5 fw-bold">Welcome <em style="color:cornflowerblue">{{ session.username }}</em>!</div>
                <p class="col-md-8 fs-4">
                    Please enjoy some articles and add one! 
                </p>
                <a class="btn btn-primary btn-lg" type="button" href="/add_article">Add Article &gt;&gt;</a>
            </div>
        </div>
        <hr>
        <table class="table table-striped" style="text-align: center">
            <tr>
                <th>Title</th>
                <th>Created Date</th>
                <th>Author</th>
                <th>Menu</th>
            </tr>
            {% for article in articles %}
                <tr>
                    <td style="text-align: left"><a href="/articles/{{ article.id }}">{{ article.title }}</a></td>
                    <td>{{ article.created_date }}</td>
                    <td>{{ article.author }}</td>
                    <td>
                        <a class="btn btn-warning btn-sm" type="button" href="/edit_article/{{ article.id }}">Edit &gt;&gt;</a>&nbsp;
                        <!-- My Solution -->
                        <a class="btn btn-danger btn-sm" type="button" href="/delete_article/{{ article.id }}">Delete</a>

                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>

{% endblock body %}

                        <!-- Instructor's Solution : 하지만 form.csrf 적용이 되지 않아서 위의 My Solution으로 대체 -->
                        <!-- request.form 을 빈 상태로 보낼 수 없어 hidden상태의 input 태그를 임의로 보냄 : 다만 브라우저상에서 보이지는 않음 -->
                        <!-- 
                            <form action="{{ url_for('delete_article', id=article.id) }}" method="POST" style="display: inline-block;">
                                {{ form.csrf_token }}
                                <input type="hidden" name="_method" value="DELETE"> 
                                <input type="submit" value="Delete" class="btn btn-danger btn-sm">
                            </form> 
                        -->
                        <!-- OR -->
                        <!-- 
                            <form action="/delete_article/{{ article.id }}" method="POST" style="display: inline-block;">
                                {{ form.csrf_token }}
                                <input type="hidden" name="_method" value="DELETE">
                                <input type="submit" value="Delete" class="btn btn-danger btn-sm">
                            </form> 
                        -->