{% extends 'layout.html' %}

{% block body %}

    <div>
        <h1>Home</h1>
        <p>
            Cras quis turpis quis eros vulputate posuere. 
            Etiam consectetur mauris imperdiet sem varius molestie. 
            Fusce sollicitudin urna ante, eget tristique elit euismod sit amet. 
            Maecenas iaculis erat dolor. Fusce quis neque vitae nisi mattis hendrerit sit amet vitae mi. 
            Maecenas tortor arcu, scelerisque non egestas eu, pulvinar in ex. 
            Donec quis ultrices metus, et malesuada sem.

            Vestibulum lacinia tortor imperdiet condimentum laoreet. 
            Mauris congue, neque ut varius sagittis, 
            libero felis sagittis enim, a auctor neque libero vel augue. 
            Suspendisse non odio sit amet purus tincidunt semper. 
            In at mauris massa. Pellentesque finibus pharetra pellentesque. 
            Donec pharetra volutpat purus, a semper purus vestibulum nec. 
            Aenean aliquet pellentesque purus quis congue. 
            Suspendisse venenatis turpis ut erat sagittis, 
            nec fringilla magna mattis. 
        </p>
    </div>
    
{% endblock body %}
